apiVersion: apps/v1
kind: Deployment
metadata:
  name: thsha-api-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: thsha/mlops_e2e_v3-api:${API_VERSION}
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: aws-creds
                key: AWS_ACCESS_KEY_ID

          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: aws-creds
                key: AWS_SECRET_ACCESS_KEY

          - name: AWS_DEFAULT_REGION
            valueFrom:
              secretKeyRef:
                name: aws-creds
                key: AWS_DEFAULT_REGION

---
apiVersion: v1
kind: Service
metadata:
  name: thsha-api-svc
spec:
  type: NodePort
  selector:
    app: api
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080