apiVersion: apps/v1
kind: Deployment
metadata:
  name: thsha-ui-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
      - name: ui
        image: thsha/mlops_e2e_v3-ui:${UI_VERSION}
        imagePullPolicy: Always
        ports:
        - containerPort: 8501
        readinessProbe:
          httpGet:
            path: /
            port: 8501
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 8501
          initialDelaySeconds: 15
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: thsha-ui-svc
spec:
  type: NodePort
  selector:
    app: ui
  ports:
  - port: 8501
    targetPort: 8501
    nodePort: 30007
