name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  # =============================
  # JOB 1: Build & Push Images
  # =============================
  build:
    name: Build & Push to DockerHub
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set timestamp
      run: echo "TS=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
    
    - name: Use timestamp
      run: echo "Timestamp is $TS"

    # 2️⃣ Login to DockerHub
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3️⃣ Build API image
    - name: Build API Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mlops_e2e_v3-api:${{ vars.API_VERSION }} -f docker/Dockerfile.api .

    # 4️⃣ Build UI image
    - name: Build UI Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mlops_e2e_v3-ui:${{ vars.UI_VERSION }} -f docker/Dockerfile.ui .

    # 5️⃣ Push API image
    - name: Push API image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlops_e2e_v3-api:${{ vars.API_VERSION }}

    # 6️⃣ Push UI image
    - name: Push UI image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlops_e2e_v3-ui:${{ vars.UI_VERSION }}

  # =============================
  # JOB 2: Deploy to Kubernetes
  # =============================
  deploy:  
    name: Deploy to Kubernetes
    runs-on: self-hosted
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup kubectl
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > ~/.kube/config

    - name: Test kubectl access
      run: kubectl get nodes

    - name: Set image version API
      run: echo "API_VERSION=${{ vars.API_VERSION }}" >> $GITHUB_ENV

    - name: Set image version API
      run: echo "UI_VERSION=${{ vars.UI_VERSION }}" >> $GITHUB_ENV
    
    - name: Render manifest API
      run: envsubst < k8s/api-deployment.yaml > k8s/api-deployment_rendered.yaml

    - name: Render manifest UI
      run: envsubst < k8s/ui-deployment.yaml > k8s/ui-deployment_rendered.yaml
    
    - name: Create AWS secret in Kubernetes
      run: |
        kubectl create secret generic aws-creds \
          --from-literal=AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
          --from-literal=AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
          --from-literal=AWS_DEFAULT_REGION=${{ secrets.AWS_DEFAULT_REGION }} \
          --dry-run=client -o yaml | kubectl apply -f -

    - name: Deploy to Kubernetes API
      run: kubectl apply -f k8s/api-deployment_rendered.yaml

    - name: Deploy to Kubernetes UI
      run: kubectl apply -f k8s/ui-deployment_rendered.yaml

